<div class='container text-center'>
  <h3><%= current_user.name.titleize %>'s Dashboard</h3>

  <%= button_to 'Discover Movies', "/discover", method: :get %>
</div>

<div id='viewing-parties'>
  <div class="text-center pt-5">
    <h3>Viewing Parties</h3>
  </div>

  <% if @party_details %>
    <div class="container">
      <div class="row">
        <% @party_details.each do |party| %>

          <div class="col-sm-4 text-center" id='party-<%= party[0].id %>'>


            <img src='https://image.tmdb.org/t/p/original/<%= party[1].poster_path %>'
            class="img-thumbnail w-75" alt='Poster for <%= party[1].title %>'><br>
            <%= link_to party[1].title, "/movies/#{party[0].movie_id}" %><br>
            <%= party[0].date.strftime('%B %d, %Y') %><br>
            <%= party[0].start_time.strftime('%l:%M %p') %><br>
            <% if party[0].host_id == current_user.id %>
              Hosting
            <% else %>
              Invited
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
  No viewing parties yet. Host a party to get started!
  <% end %>
</div>
